.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .column {
    padding: 2em 4em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h2 {
    font-weight: 500;
  }
}

.hero-2 {
  .cover {
    height: 300px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .grid {
    margin: -4em 2em 0 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .column {
    padding: 2em 4em;
  }

  h2 {
    font-weight: 500;
  }
}

.hero-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;

  .column {
    padding: 2em 4em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h2 {
    font-weight: 500;
  }
}
