body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

p {
  margin: 0.5em 0 1.5em 0;
}

a {
  color: _palette(dark);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
